html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.field {
  position: relative;
}
.cell {
  position: absolute;

  background-color: #5cbddd;
  border: solid 2px #fff;
}
.cell .cell-players {
  position: relative;
  text-align: center;
  z-index: 3;
  margin: 5px;
}
.cell .cell-label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  color: #024153;

  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
}
.cell.available:after {
  content: '';
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  z-index: 1;
  transition: 1s;
}
.cell:hover {
  border-color: #e0ffff;
}
.cell.available {
  cursor: pointer;
}
.cell.available:after {
  display: block;
}
.player {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  background-color: #024153;
  color: #e0ffff;
}
.player.current {
  color: #024153;
  background-color: #e0ffff;
}

.popup {
   position: absolute;
   top: 20px;
   left: 50%;
   margin-left: -150px;
   width: 300px;
   z-index: 5;
   padding: 49px;

   text-align: center;
   background: #fff;
   border: 1px solid #024153;
   color: #024153;
   font-size: 18px;
}
.winner .winner-name {
   text-transform: uppercase;
   font-size: 24px;
}
.restart {
   display: block;
   width: 64px;
   height: 64px;
   margin: 10px auto;
   background: url(/images/restart.png);
   border: 0;
   overflow: hidden;
   text-indent: -9999em;
}

.main-menu {
  width: 320px;
  margin: 100px auto;
  height: 160px;
  padding: 0;
}
.main-menu .main-menu-entry {
  float: left;
  list-style-type: none;
  margin: 5px;
}
.main-menu .main-menu-entry .main-menu-entry-link {
  display: block;

  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;

  font-size: 24px;
  text-transform: uppercase;
  color: #024153;
  background: #5cbddd;
  text-decoration: none;
}

.editor {
  width: 90%;
  max-width: 920px;
  margin: 0 auto;
}

.editor-screen {
}

.editor-screen-title {
  text-align: center;
  font-size: 24px;
}

.editor-screen-next {
  display: block;
  width: 200px;
  height: 40px;
  margin: 20px auto;
  line-height: 30px;
  border: 1px solid #000;
  background: #024153;
  color: #e0ffff;
  padding: 5px 10px;
  text-transform: uppercase;
}

.editor-field td {
  border: 1px solid #024153;
  border-collapse: collapse;
}

.editor-field .editor-field-cell {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: none;
  border: 0;
  color: #024153;
  background: #5cbddd;
}
.editor-field .editor-field-cell.empty {
  background: #fff;
  color: #fff;
}

.editor-export-text {
   display: block;
   width: 100%;
   height: 200px;
}

.editor-add-player {
  width: 300px;
  margin: 0 auto;
}
.editor-add-player .editor-add-player-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
.editor-add-player .editor-add-player-label {
  display: block;
  width: 100%;
  background: #fff;
  color: 1px solid #024153;
  padding: 3px 4px;
  margin: 3px 0;
}
.editor-add-player .editor-add-player-input {
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #024153;
  padding: 3px;
  margin: 3px 0;
}
.editor-add-player .editor-add-player-btn {
   display: block;
   width: 100%;
   margin-top: 10px;
   padding: 5px 15px;
   background: #024153;
   color: #fff;
   border: 0;
   text-align: center;
   text-transform: uppercase;
}

.editor-preview-field {
  width: 225px;
  margin: 10px auto;
  border: 1px solid #024153;
}
.editor-preview-field td {
  border: 0;
  border-collapse: collapse;
}

.editor-preview-field .editor-preview-field-cell {
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  border: 0;
  color: #5cbddd;
  background: #5cbddd;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
}
.editor-preview-field .editor-preview-field-cell:first-letter {
  color: #024153;
}
.editor-preview-field .editor-preview-field-cell.empty {
  background: #fff;
  color: #fff;
}
.editor-preview-field .editor-preview-field-cell.selected {
  color: #024153;
  background: #024153;
}
.editor-preview-field .editor-preview-field-cell.selected:first-letter {
  color: #5cbddd;
}

.top-menu {
   height: 50px;
   background: #024153;
   position: relative;
}

.top-menu .top-menu-logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -25px;
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: url(/images/logo.png) no-repeat 9px 9px;
  text-indent: -9999em;
}
.top-menu .top-menu-link {
  position: absolute;
  left: 50%;
  bottom: 9px;
  display: block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -9999em;
}

.top-menu .top-menu-link.top-menu-link-game {
  margin-left: -60px;
  background: url(/images/game.png) no-repeat;
}

.top-menu .top-menu-link.top-menu-link-editor {
  margin-left: 36px;
  background: url(/images/editor.png) no-repeat;
}
